body {
  background-color: rgb(136, 45, 96);;
  }
p {
  color: rgb(205, 136, 175);
  font-size: 20px;
  text-align: center;
}
ul{
  text-align: center;
  font-size: 14px;
}
h1 {
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
