body {
  background-color: rgb(136, 45, 96);;
  }
p.center {
  max-width: 700px;
  height: 100px;
  color: rgb(205, 136, 175);
  font-size: 16px;
}
ul.center{
  list-style-type: square;
  list-style-position: inside;
}
ul li{
  font-size: 16px;
  text-align: center;
  color: rgb(205, 136, 175);
}
h1 {
  text-align: center;
  color: rgb(102, 17, 65);
}
h2{
  text-align: center;
  color: rgb(170, 85, 133);
}
h3{
  text-align: center;
  color: rgb(170, 85, 133);
}
img.center{

}
