body {
  background-color: rgb(136, 45, 96);;
  }
p {
  color: rgb(205, 136, 175);
  font-size: 16px;
  text-align: center;
}
ul.a{
  text-align: center;
  font-size: 16px;
  list-style-type: square;
  list-style-position: inside;
  color: rgb(205, 136, 175);
}
h1 {
  text-align: center;
  color: rgb(102, 17, 65);
}
h2{
  text-align: center;
  color: rgb(170, 85, 133);
}
h3{
  text-align: center;
  color: rgb(170, 85, 133);
}
img.center{

}
